<n2>Thank you for you review!</n2>
<p>
    You can read or manage it in
    <a asp-action="Index" asp-controller="Admin">YOUR account</a>
    or return to
    <a asp-action="List" asp-controller="Review"> ALL Reviews</a>
</p>

