@model LoginModel
@{
    ViewBag.Title = "Edit review";
    Layout = "_AdminLayout";
}

<div class="bg-light m-1 p-1"><h4>Log In</h4></div>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button class="btn btn-success" type="submit">Log In</button>
</form>
<div class="bg-light m-1 p-1">
    If you don't have account:
</div>
<a asp-action="CreateUser" asp-controller="Admin" class="btn btn-success">Register</a>
